<!-- В стадии разработки -->
{% extends 'main/base.html' %} 
{% load static %}

{% block title %}Удаление карточки{% endblock %}

{% block head %}
<link rel="stylesheet" href="{% static 'css\styleRead.css' %}">
{% endblock %}

{% block contant %}
<div class="container">
    <header
        class="d-flex flex-wrap align-items-center justify-content-center justify-content-md-between py-3 mb-4 border-bottom">
        <a href="{% url 'home'%}"
            class="d-flex align-items-center col-md-3 mb-2 mb-md-0 text-dark text-decoration-none">
            <img src="{% static 'img\logo.png' %}" alt="logo" height="60px">
        </a>

        <ul class="nav col-12 col-md-auto mb-2 justify-content-center mb-md-0">
            <li><a href="{% url 'home'%}" class="nav-link px-2 link-dark">Главное меню</a></li>
            <li><a href="{% url 'readcz'%}" class="nav-link px-2 link-dark">Чтение</a></li>
            <li><a href="{% url 'makecard'%}" class="nav-link px-2 link-dark">Создать карточку</a></li>
            <li><a href="{% url 'listening'%}" class="nav-link px-2 link-dark">Слушание</a></li>
            <!--ИЗМЕНИТЬ ПОТОМ ССЫЛКИ-->
            <li><a href="{% url 'main-view'%}" class="nav-link px-2 link-dark">Тест</a></li>
            <li><a href="{% url 'home'%}" class="nav-link px-2 link-dark">О нас</a></li>
        </ul>

        <div class="col-md-3 text-end">
            <form action="{% url 'logout' %}" method="get">
                <button type="submit" class="btn btn-outline-primary me-2">Выйти</button>
                <a class="btn btn-primary" href="{% url 'lk' %}">Личный кабинет</a>
            </form>
        </div>
    </header>
</div>

<div class="container">
<div class="alert alert-danger" role="alert">
    Вы действительно хотите удалить карточку "{{item}}"?
  </div>
    <form method="post">
        {% csrf_token %}
        <input class="btn btn-danger" type="submit" name="Confirm" value="Удалить">
        <a class="btn btn-secondary" href="{% url 'learncard' %}">Отменить</a>
    </form>
</div>
{% endblock %}